* {
  transition: background 0.3s ease, color 0.3s ease;
}

.nav-links a.active::after {
  content: "";
  display: block;
  height: 2px;
  background: #3b82f6;
  width: 100%;
  margin-top: 4px;
}


/* LIGHT THEME */
.light {
  background: #f1f5f9;
  color: #000;
}

/* DARK THEME */
.dark {
  background: radial-gradient(
      circle at top,
      #020617 0%,
      #020617 40%,
      #020617 100%
  );
  color: #e5e7eb;
}



/* NAVBAR */
.navbar {
  background: rgb(253, 255, 255);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 20px 20px;
}

.dark .navbar {
  background: linear-gradient(180deg, #020617, #020617);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.dark .nav-links li {
  color: #94a3b8;
}

.dark .nav-links .active {
  color: #3b82f6;
}

.logo {
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  opacity: 0.7;
}

.nav-links .active {
  color: #2563eb;
  font-weight: 600;
}

.toggle-btn {
  background: radial-gradient(circle, #3b82f6, #1d4ed8);
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(59, 130, 246, 0.6);
}


/* HERO */
.hero-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.hero-card {
  background: white;
  padding: 60px;
  border-radius: 25px;
  width: 80%;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.dark .hero-card {
  background: linear-gradient(
    145deg,
    rgba(2, 6, 23, 0.9),
    rgba(15, 23, 42, 0.9)
  );
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.05),
    0 25px 60px rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.dark .hero-card h1 {
  color: #f8fafc;
}

.dark .hero-card p {
  color: #cbd5f5;
}



.hero-card h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero-card p {
  font-size: 18px;
  color: #fdfdfd;
  margin-bottom: 30px;
}

.dark .hero-card p {
  color: #cbd5f5;
}

/* .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: green;
  border-radius: 50%;
  margin-bottom: 10px;
} */

/* BUTTON */
.primary-btn {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  color: white;
  border: none;
  padding: 14px 34px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(37, 99, 235, 0.4);
  transition: transform 0.2s ease;
}

.primary-btn:hover {
  transform: translateY(-2px);
}


/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  opacity: 0.7;
} */

.dark .footer {
  color: #94a3b8;
}



.page {
  padding: 80px;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
}

.nav-links a.active {
  color: #2563eb;
  font-weight: 600;
}

/* FORCE WHITE NAV LINKS IN DARK MODE */
.dark .nav-links a {
  color: rgb(253, 255, 255);
  opacity: 1;
}
